.pageLevelErrors {
    outline: none;
}
.forcePageError {
    /* border-bottom: 1px solid var(--lwc-colorBorderSeparatorAlt,rgb(221, 219, 218)); */
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: var(--lwc-spacingSmall, 0.75rem);
    /* padding-bottom: var(--lwc-spacingSmall,0.75rem); */
}
.forcePageError.desktop .genericNotification {
    font-weight: 300;
    border-top-left-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border-top-right-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1rem;
}
.forcePageError .genericNotification {
    background: var(--lwc-colorBackgroundToastError,rgb(194, 57, 52));
    padding: var(--lwc-spacingMedium,1rem);
    color: var(--lwc-colorTextModal,rgb(255, 255, 255));
    line-height: var(--lwc-lineHeightHeading,1.25);
}
.forcePageError.desktop .errorsList {
    font-size: 0.8125rem;
}
.forcePageError .errorsList {
    list-style: none;
    color: var(--lwc-colorTextError,rgb(194, 57, 52));
    line-height: var(--lwc-lineHeightText,1.5);
    margin: 0;
    padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingMedium,1rem) var(--lwc-spacingXxSmall,0.25rem) var(--lwc-spacingMedium,1rem);
    border: 1px solid var(--lwc-colorBorderSeparatorAlt,rgb(221, 219, 218));
    border-bottom-left-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border-bottom-right-radius: var(--lwc-borderRadiusMedium,0.25rem);
}