<?xml version="1.0" encoding="UTF-8"?>
<ListView xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Springfield_MA_DCRs_sked_Drive_Change_Request</fullName>
    <filterScope>Queue</filterScope>
    <label>Springfield MA: DCRs</label>
    <queue>Springfield_MA_DCRs</queue>
    <sharedTo>
        <allInternalUsers></allInternalUsers>
    </sharedTo>
</ListView>
