.job-allocation-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.job-allocation-table .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.job-allocation-table .row.sub-header {
  background: #f4f6f9;
  padding: .5rem;
  border-bottom: 1px solid #d8dde6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.job-allocation-table .row [class^="col"] {
  padding: .5rem;
  border-bottom: 1px solid #d8dde6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.job-allocation-table .row .col-drive-name {
  width: 40%;
}

.job-allocation-table .row .col-drive-status {
  width: 10%;
}

.job-allocation-table .row .col-drive-issue {
  width: 50%;
}

.job-allocation-table .header {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.job-allocation-table .header .row [class^="col"] {
  font-size: .75rem;
  line-height: 1.25;
  color: #54698d;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.job-allocation-table .body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.job-allocation-table .header,
.job-allocation-table .body {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}