.flex-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.tree-container {
  height: 100%;
}

.slds-has-block-links_space a {
  display: inline-block;
}

.setting-panel .setting-panel_header {
  padding: 1rem;
  background-color: #f4f6f9;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting-panel .setting-panel_header .slds-media {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.setting-panel .setting-panel_header .setup-icon {
  background: #9FAAB5;
  padding: 7px;
  color: white;
}

.setting-panel .setting-panel_header .slds-page-header__title {
  font-size: .75rem;
  line-height: 1;
  text-transform: uppercase;
  color: #54698d;
}

.setting-panel .setting-panel_header .slds-page-header__subtitle {
  color: #16325c;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: 3px;
}

.setting-panel .setting-panel_content-container {
  margin: 0 1rem 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}

.setting-panel .setting-panel_content-container .setting-panel_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fdfdfd;
  border: 1px #e0e5ee solid;
  border-radius: .25rem;
  overflow: auto;
}

.setting-panel .setting-panel_content-container .setting-panel_content .setting-row {
  padding: 0.75rem 0;
  border-bottom: 1px solid #d8dde6;
}

.setting-panel .setting-panel_content-container .setting-panel_content .setting-row:nth-child(even) {
  background: rgba(240, 248, 252, 0.4);
}

.event-type-setting__table {
  width: 100%;
  table-layout: fixed;
}

.event-type-setting__table tr th {
  font-size: 0.675rem;
  font-weight: normal;
  background: #fff;
}

.event-type-setting__table tr td {
  font-size: 0.75rem;
}

.event-type-setting__table .event-type__col {
  width: 2.5rem;
}

.event-type-setting__table .short-name__col {
  width: 1.25rem;
}

.event-type-setting__table .avail-start__col {
  width: 2rem;
}

.event-type-setting__table .avail-end__col {
  width: 2rem;
}

.event-type-setting__table .background-color__col {
  width: 2.75rem;
}

.event-type-setting__table .color__col {
  width: 2.75rem;
}

.event-type-setting__table .step__col {
  width: 1.25em;
}

.event-type-setting__table .is-available__col {
  width: 1.5rem;
}

.event-type-setting__table .show-legend__col {
  width: 1.25rem;
}

.event-type-setting__table .can-be-pre-dated__col {
  width: 1.25rem;
}

.event-type-setting__table .is-active__col {
  width: 1.25rem;
}

.setting-table__empty-message {
  color: #767676;
  text-align: center;
}

.setting-table__empty-message svg {
  fill: #767676;
  margin-bottom: .25rem;
}