.slds-combobox__input,
.slds-combobox_container {
    transition: border 0.1s linear, box-shadow 0.1 linear;
}

.slds-combobox__input {
    box-shadow: none;
}

.slds-combobox__input.has-custom-height {
    height: 32px !important;
}

.slds-listbox {
    min-height: 2.375rem;
    max-height: 18rem;
    overflow-y: auto;
}