.scroll-wrapper {
    overflow-x: auto;
    max-height: 500px;
}
.datatable-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.datatable-container lightning-datatable {
    min-width: 2200px;
}