.scheduling-status__filter-item {
    padding: .5rem .75rem .8125rem;
    border-bottom: solid 2px transparent;
    margin-bottom: -1px;
    cursor: pointer;
}
  
.scheduling-status__filter-item:hover {
    border-color: rgba(0,112,210,.5);
}
  
.scheduling-status__filter-item+.scheduling-status__filter-item:not(.slds-col_bump-left) {
    margin-left: .5rem;
}
  
.scheduling-status__filter-item.is-selected {
    border-color: #1d92d2;
}
  
.scheduling-status__filter-item .drives-count {
    margin-left: .75rem;
    padding: 0 .75rem;
    border-radius: .25rem;
    color: #fff;
    background: #767676;
}

.scheduling-status__filter-item .drives-count.productivity__low {
    background: #d23331;
}

.scheduling-status__filter-item .drives-count.productivity__mid {
    background: #f1872d;
}

.scheduling-status__filter-item .drives-count.productivity__high {
    background: #59b66e;
}