@import url(https://fonts.googleapis.com/css?family=Roboto:200,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

@import url(//fonts.googleapis.com/css?family=Just+Another+Hand);

@font-face {
  font-family: "rco-icon";
  src: url("/fonts/rco-icon.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0");
  src: url("/fonts/rco-icon.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0##iefix") format("embedded-opentype"), url("/fonts/rco-icon.ttf?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("truetype"), url("/fonts/rco-icon.woff?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("woff"), url("/fonts/rco-icon.svg?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black-webfont";
  src: url("/fonts/Roboto-Black-webfont.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0");
  src: url("/fonts/Roboto-Black-webfont.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0##iefix") format("embedded-opentype"), url("/fonts/Roboto-Black-webfont.ttf?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("truetype"), url("/fonts/Roboto-Black-webfont.woff?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("woff"), url("/fonts/Roboto-Black-webfont.svg?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light-webfont";
  src: url("/fonts/Roboto-Light-webfont.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0");
  src: url("/fonts/Roboto-Light-webfont.eot?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0##iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.ttf?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("truetype"), url("/fonts/Roboto-Light-webfont.woff?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("woff"), url("/fonts/Roboto-Light-webfont.svg?orgId=00Do0000000YrbP&orgId=00DQ000000GKai0") format("svg");
  font-weight: normal;
  font-style: normal;
}

.inner-page .rco-ui-cta-image-link a {
  text-decoration: none !important;
}

.jumbotron.rco-ui-service .text-block .color-subdued {
  font-size: 30px;
  font-family: Roboto-Light, "Roboto-Light-webfont";
}

.typography-base h1 {
  font-family: Roboto-Black, "Roboto-Black-webfont";
  font-size: 60px;
  font-color: #ffffff;
  line-height: 50px;
}

.typography-base h2 {
  font-family: Roboto-Black, "Roboto-Black-webfont";
  font-size: 40px;
  font-color: #333333;
  line-height: 50px;
}

.typography-base h3 {
  font-family: Roboto-Black, "Roboto-Black-webfont";
  font-size: 30px;
  font-color: #333333;
  line-height: 36px;
}

.typography-base h4 {
  font-family: Roboto-Black, "Roboto-Black-webfont";
  font-size: 24px;
  font-color: #333333;
  line-height: 50px;
}

.typography-base h4.light {
  font-color: #ffffff;
}

.typography-base h4.dark {
  font-color: #333333;
}

.typography-base p, .typography-base .body-copy {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-color: #333333;
  line-height: 28px;
}

.typography-base p.light, .typography-base .body-copy.light {
  font-color: #ffffff;
}

.typography-base p.dark, .typography-base .body-copy.dark {
  font-color: #333333;
}

.typography-base .page-subtitle {
  font-family: Roboto-Light, "Roboto-Light-webfont";
  font-size: 30px;
  font-color: #ffffff;
  line-height: 50px;
}

.typography-base .section-divider-subtitle {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-color: #333333;
  line-height: 40px;
}

.typography-base .breadcrumb-link-text {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-color: #ffffff;
  line-height: 36px;
}

.typography-base .cta-link-text {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  font-color: #ffffff;
  line-height: 36px;
}

.typography-base .cta-link-text.dark {
  font-color: #007caf;
}

.typography-base .btn {
  font-family: Roboto-Black, "Roboto-Black-webfont";
  font-size: 16px;
  font-color: #ffffff;
}

.typography-base .statistic-content-area-text {
  font-family: Roboto-Light, "Roboto-Light-webfont";
  font-size: 40px;
  font-color: #e11b22;
  line-height: 44px;
}

.typography-base .statistic-body-text {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-color: #6d6e70;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .typography-base h1 {
    font-size: 60px;
    line-height: 50px;
  }
  
  .typography-base h2 {
    font-size: 40px;
    line-height: 50px;
  }
  
  .typography-base h3 {
    font-size: 30px;
    line-height: 36px;
  }
  
  .typography-base h4 {
    font-size: 24px;
    line-height: 50px;
  }
  
  .typography-base p, .typography-base .body-copy {
    font-size: 18px;
    line-height: 28px;
  }
  
  .typography-base .page-subtitle {
    font-size: 30px;
    line-height: 50px;
  }
  
  .typography-base .section-divider-subtitle {
    font-size: 22px;
    line-height: 40px;
  }
  
  .typography-base .breadcrumb-link-text {
    font-size: 14px;
    line-height: 36px;
  }
  
  .typography-base .cta-link-text {
    font-size: 18px;
    line-height: 36px;
  }
  
  .typography-base .btn {
    font-size: 16px;
  }
  
  .typography-base .statistic-content-area-text {
    font-size: 40px;
    line-height: 44px;
  }
  
  .typography-base .statistic-body-text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .typography-base h1 {
    font-size: 50px;
    line-height: 50px;
  }
  
  .typography-base h2 {
    font-size: 36px;
    line-height: 44px;
  }
  
  .typography-base h3 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .typography-base h4 {
    font-size: 24px;
    line-height: 50px;
  }
  
  .typography-base p, .typography-base .body-copy {
    font-size: 18px;
    line-height: 28px;
  }
  
  .typography-base .page-subtitle {
    font-size: 24px;
    line-height: 50px;
  }
  
  .typography-base .section-divider-subtitle {
    font-size: 20px;
    line-height: 40px;
  }
  
  .typography-base .breadcrumb-link-text {
    font-size: 14px;
    line-height: 36px;
  }
  
  .typography-base .cta-link-text {
    font-size: 18px;
    line-height: 36px;
  }
  
  .typography-base .btn {
    font-size: 16px;
  }
  
  .typography-base .statistic-content-area-text {
    font-size: 32px;
    line-height: 36px;
  }
  
  .typography-base .statistic-body-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .typography-base h2 {
    font-size: 30px;
    line-height: 36px;
  }
  
  .typography-base h3 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .typography-base h4 {
    font-size: 24px;
    line-height: 50px;
  }
  
  .typography-base .page-subtitle {
    font-size: 30px;
    line-height: 36px;
  }
  
  .typography-base .section-divider-subtitle {
    font-size: 18px;
    line-height: 36px;
  }
  
  .typography-base p, .typography-base .body-copy {
    font-size: 18px;
    line-height: 28px;
  }
  
  .typography-base .breadcrumb-link-text {
    font-size: 14px;
    line-height: 36px;
  }
  
  .typography-base .cta-link-text {
    font-size: 18px;
    line-height: 36px;
  }
  
  .typography-base .btn {
    font-size: 16px;
  }
  
  .typography-base .statistic-content-area-text {
    font-size: 32px;
    line-height: 36px;
  }
  
  .typography-base .statistic-body-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .typography-base h2 {
    font-size: 28px;
    line-height: 30px;
  }
  
  .typography-base h3 {
    display: none;
  }
  
  .typography-base h4 {
    font-size: 20px;
    line-height: 24px;
  }
  
  .typography-base p, .typography-base .body-copy {
    font-size: 16px;
    line-height: 26px;
  }
  
  .typography-base .page-subtitle {
    font-size: 22px;
    line-height: 26px;
  }
  
  .typography-base .section-divider-subtitle {
    font-size: 16px;
    line-height: 26px;
  }
  
  .typography-base .breadcrumb-link-text {
    font-size: 14px;
    line-height: 36px;
  }
  
  .typography-base .cta-link-text {
    font-size: 16px;
    line-height: 36px;
  }
  
  .typography-base .btn {
    font-size: 14px;
  }
  
  .typography-base .statistic-content-area-text {
    font-size: 32px;
    line-height: 36px;
  }
  
  .typography-base .statistic-body-text {
    font-size: 16px;
    line-height: 18px;
  }
}