.calendar-grid {
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

.calendar {
  min-width: 18rem;
  padding: 0.25rem;
  border: 1px solid #d8dde6;
  border-radius: 0.2rem;
  background: #fff;
}

.calendar-header {
  padding: 0.5rem 0.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  font-size: 0.75rem;
  max-width: 18rem;
  position: relative;
}

.calendar-header .reset-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calendar-table {
  width: 100%;
  max-width: 18rem;
  table-layout: fixed;
  background: #fff;
  font-size: 0.675rem;
}

.calendar-table thead td {
  padding: .375rem .25rem;
  color: #767676;
  border-bottom: solid 1px #d8dde6;
  text-transform: uppercase;
  text-align: center;
}

.calendar-table tbody td {
  padding: .25rem;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calendar-table tbody td.today .day-info {
  background-color: #d4ebff;
  color: #1d92d2;
  font-weight: bold;
}

.calendar-table tbody td.cal-weekend {
  background-color: #f4f6f9;
}

.calendar-table tbody td.cal-past-day .day-info {
  opacity: 0.6;
}

.calendar-table tbody td.cal-out-of-month {
  color: #e0e5ee;
}

.calendar-table tbody td.cal-out-of-month .day-info {
  pointer-events: none;
}

.calendar-table tbody td.cal-out-of-month .dots {
  visibility: hidden;
}

.calendar-table tbody td:not(.cal-out-of-month) .day-info {
  cursor: pointer;
}

.calendar-table tbody td:not(.cal-out-of-month) .day-info:hover {
  border-color: #1d92d2;
}

.calendar-table tbody td .popover-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.calendar-table tbody td .day-info {
  padding: .25rem;
  min-width: 1.75rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
}

.calendar-table tbody td .day-info .dots {
  height: 0.3125rem;
  width: 100%;
  margin-top: 0.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-table tbody td .day-info .dots .dot {
  border-radius: 50%;
  width: 0.3125rem;
  background: #e0e5ee;
}

.calendar-table tbody td.selected .day-info {
  border-color: #1d92d2;
  color: #fff;
  font-weight: bold;
  background: #1d92d2;
}

.calendar-table tbody td.disabled .day-info {
  color: #e0e5ee;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
}